.App {
  text-align: center;
  width: 100vw;
}

.AppNone {
  display: none;
}

#errorImage {
  width: 100%;
}

@media only screen and (max-device-width: 1365px) {
  .App {
    display: none;
  }
  .AppNone {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
